@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

button, input{
    width: 170px;
}

.titulo-pesos, .notaMin, .notaMax, #notaMin, #notaMax{
    text-align: center;
}

.bg-light{
    background-color: #145DA0!important;
}

.navbar-texto{
    color: white!important;
}

.card{
    width: 640px;
}

.provaHumanas{
    padding-left: 150px;
}

.provaNatureza{
    padding-left: 129px;
}

.provaLinguagem{
    padding-left: 207px;
}

.provaMatematica{
    padding-left: 200px;
}


.notaDisciplina{
    padding-left: 175px;
}

.pesoHumanas{
    padding-left: 55px;
}

.pesoNatureza{
    padding-left: 32px;
}

.pesoLinguagens{
    padding-left: 113px;
}

.pesoMatematica{
    padding-left: 105px;
}

.pesoRedacao{
    padding-left: 134px;
}

.provaRedacao{
    padding-left: 225px;
}

.spanProva{
    padding-left: 36px;
}

.spanAcertos{
    padding-left: 236px;
}

.spanNota{
    padding-left: 262px;
}

.titulo{
    background-color: #0C2D48;
    height: 400px;
    text-align: center;
    padding-top: 75px;
    color: white;
}

.mensagem{
    font-size: 50px;
}

.btn-calcular{
    margin-left: 315px;
}